!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
$RECYCLE.BIN/
*$py.class
*.DS_Store
*.cab
*.code-workspace
*.cover
*.egg
*.egg-info/
*.lnk
*.log
*.manifest
*.msi
*.msm
*.msp
*.pem
*.pid
*.pid.lock
*.pot
*.py[cod]
*.seed
*.session
*.so
*.spec
*.stTheme.cache
*.stackdump
*.sublime-workspace
*.tgz
*.tmPreferences.cache
*.tmlanguage.cache
*~
./config/settings/local.py
.AppleDB
.AppleDesktop
.AppleDouble
.DocumentRevisions-V100
.LSOverride
.Python
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.devcontainer/bash_history
.directory
.eggs/
.env
.env
.envs/*
.eslintcache
.fseventsd
.fuse_hidden*
.hypothesis/
.installed.cfg
.ipython/
.lock-wscript
.mypy_cache/
.netrwhist
.nfs*
.node_repl_history
.npm
.nyc_output
.pytest_cache/
.ropeproject
.tox/
.venv
.vscode/
.vscode/*
.yarn-integrity
/site
Desktop.ini
ENV/
GitHub.sublime-settings
Icon
Network Trash Folder
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Session.vim
Temporary Items
Thumbs.db
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
__pycache__/
apps/board/management/commands/debug.py
bh_unicode_properties.cache
bower_components
build/
build/Release
celerybeat-schedule
coverage
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
dump.rdb
eggs/
ehthumbs.db
ehthumbs_vista.db
graph
graph.png
htmlcov/
jspm_packages/
lib-cov
lib/
lib64/
local.py
local/
local_*.py
logs
node_modules/
nosetests.xml
npm-debug.log*
oscrypto-ca-bundle.crt
parts/
pids
pip-delete-this-directory.txt
pip-log.txt
project/media/
resources/dataset
resources/new_model
resources/old
resources/pages
resources/pages.tar.gz
resources/pages.zip
resources/zips
sdist/
sftp-config.json
staticfiles/
tags
target/
typings/
var/
venv/
wheels/
yarn-debug.log*
yarn-error.log*
